*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
server/
iosApp/iosApp.xcodeproj/xcuserdata/sdemmer.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
